.wrapper, .row {

	height: 100%;
	margin-left:0;
	margin-right:0;

}

.wrapper:before, .wrapper:after,
.column:before, .column:after {

	content: "";
	display: table;

}

.wrapper:after,
.column:after {
	clear: both;
}

.column {

	height: 100%;
	overflow: auto;
	*zoom:1;

}

.column .padding {
	padding: 20px;
}

.box {
	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0; /* increase for footer use */
	position: absolute;
	background-color: #242222;

}

#main {

	margin-top: 50px;
	background-color: white;

}

#sidebar {

	margin-top: 100px;
	padding:0px;

}

#sidebar, #sidebar a, #sidebar-footer a {

	color:#ffffff;
	background-color:transparent;
	padding-left: 0px;

}

#sidebar .nav li>a:hover {
	background-color:#393939;
}

/* bootstrap overrides */

h1,h2,h3 {
	font-weight:800;
}

.navbar-toggle, .close {
	outline:0;
}

.navbar-toggle .icon-bar {
	background-color: #fff;
}

/* adjust the contents on smaller devices */
@media (max-width: 768px) {

	.column .padding {
		padding: 7px;
	}

	.full{
		padding-top:20px;
	}

}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {

	.row-offcanvas {

		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	
	}

	.row-offcanvas-left.active {
		left: 33%;
	}

	.row-offcanvas-left.active .sidebar-offcanvas {
		
		left: -33%;
		position: absolute;
		top: 0;
		width: 33%;
		margin-left: 5px;

	}

	#sidebar, #sidebar a, #sidebar-footer a {
		padding-left:3px;
	}
}
